/* ======================================== */
/*              STYLE GLOBAL                */
/* ======================================== */

/* Police globale */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #2e4d38;
    background: #ffffff;
}

/* Header */
header {
    background: #2e4d38;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: white;
    font-family: 'AGRANDIR', sans-serif;
    font-size: 2.5rem;
}

/* Menu */
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

nav a:hover {
    color: #ff7b00;
}

/* ======================================== */
/*                SECTIONS                  */
/* ======================================== */

.section-blanche {
    padding: 70px 20px;
    background: white;
}

.section-verte {
    padding: 70px 20px;
    background: #e9f3ed;
}

.titre-section {
    text-
